.classpath
.project
.settings
.lein-cljsbuild*
/bin
/pom.xml
*jar
/lib
/classes
/native
/.lein-failures
/checkouts
/.lein-deps-sum
/multi-lib
/data
/target
/resources/public/tests/js/librarian-tests.js
/resources/public/js/librarian-cljs.js
.lein-repl-history

